*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:poppins,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.featured{
    width: 85%;
    background-color: transparent;
    margin:4rem auto 7.56rem auto;

    /* background-color: crimson; */
    /* margin: 0px !important; */

}
.header{
    display: flex;
    justify-content: space-between;
     margin-bottom: 2.5rem;
}
.header img{
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.8;
    position: fixed;
    right: 9.5rem;
}
.header h4{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
   
}
.featured-card{
     display: grid;
    width: 83.33%;
    margin-bottom: 5.06rem;
    grid-template-columns: 2fr 2fr 2fr 2fr !important;
    grid-template-rows: 0fr 0fr !important;
    gap: 4.2rem;
  
   
}


.horzontal-line{
    border-top: 0.13rem solid #C4C4C4;
    width:100%;
    margin: 8% 0% 0% 0% !important;
}
.download-pointer{
    display: flex;
    align-items: center;
    padding-top: 4rem;
}
.download-pointer img{
    border-radius: 0.75rem;
}
.download{
    margin-left: 2rem;
}
.download h2{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5.25rem;
}
.download img{
    margin-top: 2.94rem;
    margin-right: 2.13rem;
}
