*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:poppins,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.featured{
    width: 85%;
    background-color: transparent;
    margin:7.56rem auto;

    /* background-color: crimson; */
    /* margin: 0px !important; */

}
.header{
    display: flex;
    justify-content: space-between;
     margin-bottom: 2.5rem;
}
.header img{
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.8;
    position: fixed;
    right: 9.5rem;
}
.header h4{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
   
}
.featured-card{

   display: grid;
   grid-template-columns: 2fr 2fr 2fr 2fr !important;
   grid-template-rows: 0fr 0fr !important;
   gap: 1.1%;
   
}

/* .paginationButtons{

    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 4rem;
   
}

.paginationButtons{
    width: 17.56rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin:4rem auto;
   
    

} */
/* .paginationButtons a{

}
.paginationButtons a{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  border: 0.06rem solid #DFE3E8;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor:pointer;
}
.paginationActive{
    border: 0.06rem solid #089BC9;
    color:#089BC9;
}
.previousButton,.nextButton{
    color: #DFE3E8;
}
.previousButton:hover,.nextButton:hover{
    background-color: #919EAB;
    opacity: 0.5;
    color:#C4CDD5;
} */

.horzontal-line{
    border-top: 0.13rem solid #C4C4C4;
    width:100%;
    margin: 8% 0% 0% 0% !important;
}
.download-pointer{
    display: flex;
    align-items: center;
    padding-top: 4rem;
}
.download-pointer img{
    border-radius: 0.75rem;
}
.download{
    margin-left: 2rem;
}
.download h2{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5.25rem;
}
.download img{
    margin-top: 2.94rem;
    margin-right: 2.13rem;
}
