*{
margin:0;
padding:0;
font-family:Poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: border-box;
}

.footer{

    padding:7.5rem 3% 7.5rem 3% !important;
    margin: 0px !important;
    width: 100% !important;

    padding:7.5rem 0 7.5rem 7.5rem;
    
    width: 100%;
    height: 31.25rem;
    background-color: #089BC9;
}
.footer-details{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-details .footer-title{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    color: #fff;

    margin-right: 0 !important;

    margin-right: 4.81rem;

    white-space: nowrap;
    margin-bottom: 1rem;
}
.footer-details p{
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.69rem;
    color: #fff;
}
.social-icon{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    color:#089BC9;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    font-size:1.5rem;
    margin-bottom: 1rem;
    
   
}

/* #social{
    margin-left: 2% !important;
    margin-right: 3% !important;
} */

#social{
    margin-left: 12.31rem;
}

.red-icons{
    color:#E11B1B;
}


.footer-details >div  p{
    margin-right: 4%;
    margin-left: 0%;

}
.footer-details img{
   width:11.25rem;
   height: 3.5rem;
   display: block;
   margin-top: 1.13rem; 


}
.footer-details .last{
    margin-left: 4.81rem;

}
/* .footer-details .last{
    margin-left: 4.81rem;
} */
.contact{
    white-space: nowrap;
    
}

.contact span{
   margin-right: 0.69rem; 
}
#call{
    margin-top: 2rem;
}
#copyright{
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.13rem;
    color: #fff;
    margin-top: 3.13rem;
    font-weight: 300;
}
@media screen and (max-width:768px) {
    .footer-details{
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    .footer{
        padding: 2rem;
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .footer-details img{
      width:4rem;
   height: 1.7rem;
   display: block;
   margin-top: 1.13rem;  
    }
    .footer-details .footer-title{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #fff;
    margin-right: 0.5rem;
    white-space: nowrap;
    margin-bottom: 1rem;
    text-align: center;
}
.footer-details p{
     font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.69rem; 
    text-align: center;
    margin-right: 0.5rem;
}


.footer-details >div{
    display: flex;
    align-items: center;
}
.social-icon{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    color:#089BC9;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    font-size:1.5rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    
   
}
.red-icons{
    color:#E11B1B;
}
#social{
    margin-left: 0;
}

}