*{padding: 0;
margin: 0;
box-sizing: border-box;
}

.loader{
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid #089BC9;
    border-radius:50%;
    width: 5rem;
    height: 5rem;
    animation:spin 2s linear infinite;
    
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);
    }
}